h1{
    color:red;
    
    
}

p{
    color:darksalmon
}

button{
    color:aqua;
    background-color: brown;
}

body{
    background-color: rgb(15, 46, 73);
}

h3{
    background-color:#EAE151
}

button{
    background-color: green;
}

#h1{
    font-weight: normal;
}

#h2{
    font-weight: bold;
}
#h3{
    font-weight: bolder;
}
#h4{
    font-weight:lighter;
}