h1{
    color:red;
    
    
}

p{
    color:darksalmon
}

button{
    color:aqua;
    background-color: brown;
}

body{
    background-color: rgb(15, 46, 73);
}

h3{
    background-color:#EAE151
}

button{
    background-color: green;
}