p{
    text-align:left;
   
}

h1{
    text-align:center;
    text-decoration:palegoldenrod underline ;  
}
a{
    text-decoration: none;
}


#h1{
    font-weight: 100;
}

#h2{
    font-weight: 250;
}
#h3{
    font-weight: 500;
}
#h4{
    font-weight:900;
}

p{
    font-family: 'Courier New', Courier, monospace;
}