#box1{
    height: 107px;
    width:200px;
    background-color: red;
}

#box2{
    height:50px;
    width:30%;
    background-color: yellow;
    margin-left:10%;
}

#box3{
    height:200px;
    width:300px;
    background-color: pink;
    font-size: 10px;
}

#box4{
   font-size:3em; /*10*3 =30px */
    height: 50px; 
    width:35%;
    background-color: blue;

    margin-left:10%;
    width:5rem ; /* 30px*5=150px */
}