.navbar{
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color:black;
}

li{
    list-style-type:none;
    color: red;
}

.outer{
    height: 400px;
    width:400px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
     height: 100px;
    width:100px;
    background-color: pink;
    align-self: start;
}